<h1>lists</h1>
<ul>
  <% @lists.each do |list| %>
    <li><%= link_to list.name, list_path(list) %></li>
<%= cl_image_tag list.photo.key, height: 300, crop: :fill %>

  <% end %>
</ul>
<%= link_to "create new list", new_list_path%>
